.expenselist{
    border: 2px solid orange;
    border-radius: 10px;
    display: flex;
   justify-content: space-between;
 margin: 55px;
 padding: 12px;
  text-align: center;
  align-items: center;

  background-color: darkcyan;
 }
 .expenselist h1{
   color: rgb(240, 240, 240);

 
 
 }
 .buttons button{
    justify-content: end;
    background-color: red;
    border-radius: 10px;
    height: 45px;
    margin: 4px;
    font-weight: 900;
    color: aliceblue;

 }